.App {
  text-align: center;
}

.image-links {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border: solid black 2px;
  border-radius: 50%;
}

.site-footer {
  background-color: #007bff;
  padding: 20px 0;
}

.site-footer a, .site-footer h5, .site-footer p {
  color: #fff;
}

.saved-recipes {
  min-height: 80vh;
}

.card-images {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .header-image {
    position: absolute;
    height: 200px;
    width: 200px;
    border: solid black 2px;
    border-radius: 50%;
    object-fit: cover;
    top: 2rem;
    right: 3rem;
    background: white;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}