.App {
  text-align: center;
}

.image-links {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border: solid black 2px;
  border-radius: 50%;
}

.site-footer {
  background-color: #007bff;
  padding: 20px 0;
}

.site-footer a, .site-footer h5, .site-footer p {
  color: #fff;
}

.saved-recipes {
  min-height: 80vh;
}