/* GENERAL STYLING */

.App {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'IM Fell Great Primer SC', serif;
}

/* ------------- SAVED RECIPES PAGE ------------- */

.saved-recipes {
  min-height: 80vh;
}

/* ------------- RECIPES PAGE --------------- */

/* HEADER */

.header-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.jumbotron h1 {
  padding: 0rem 4rem;
  font-size: 2rem;
}

.jumbotron {
  padding: 0;
  margin: 0;
}

/* ------------ HOME PAGE ------------- */

.link-text {
  color: white;
}

.head-banner {
  background-color: #212529;
}

.image-links {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border: solid white 2px;
  border-radius: 50%;
  transition: ease-in-out 0.1s;
}

.image-links:hover {
  transform: scale(1.1);
}

.category-card {
  padding: 0;
  background-color: #2e2e2e;
  height: 400px;
  overflow: hidden;
}

.category-card img {
  background-color: #fff;
  padding: 0.5rem;
  margin: 0 auto;
}

.category-card p {
  overflow: auto;
  height: 70px;
}

.btn a {
  color: white;
}

.btn-rounded {
  border: solid white 2px;
}

/* FOOTER */

.site-footer {
  background-color: #007bff;
  padding: 20px 0;
}

.site-footer a, .site-footer h5, .site-footer p {
  color: #fff;
}

/* RECIPE CARDS */

.card-images {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
}

.recipe-card {
  padding: 0;
  background-color: #2e2e2e;
  transition: cubic-bezier(.68, 1.3, .83, 1.11) 0.2s;
}

.recipe-card:hover {
  transform: translateX(1px) scale(1.02);
  opacity: 0.9;
}

/* RECIPE MODALS */

.fa-check {
  color: #007bff
}

.horizon-rule {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

.horizon-rule2 {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.modal .image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.modal li {
  text-align: left;
  list-style-type: none;
}

.modal-lg {
  border: solid 10px #007bff;
}

.modal br {
  margin-bottom: 0.5rem;
}

.instructions-list {
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
}

.instructions-list::first-line {
  font-weight: bold;
}

.modal .close {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.modal h1 {
  color: #fff;
}

.modal .modal-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal .youtube-container {
  display: flex;
  align-items: center;
  transition: ease-in 0.3s;
}

.modal .youtube {
  margin: -100px 0px 0px 0rem;
  width: 100%;
  text-align: left;
  padding: 1rem 0rem 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  transition: ease-in 0.3s;
}

.youtube-container:hover {
  display: flex;
  text-align: center;
  transform: scale(1.05);
}

.modal .heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
  color: rgba(231, 76, 60, 0.5);
}

.modal .heart2 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: scale(1.2);
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
  color: rgba(231, 76, 60, 1);
}

.modal .gradient-mask {
  background: -webkit-linear-gradient(90deg, rgba(26, 188, 156, 0.5) 0%, rgba(52, 152, 219, 0.6) 100%);
  background: -o-linear-gradient(90deg, rgba(26, 188, 156, 0.5) 0%, rgba(52, 152, 219, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(90deg, rgba(26, 188, 156, 0.5)), to(rgba(52, 152, 219, 0.6)));
  background: linear-gradient(90deg, rgba(26, 188, 156, 0.5) 0%, rgba(52, 152, 219, 0.6) 100%);
}

.links-enter, .links-appear {
  opacity: 0;
  transform: scale(0.5);
}

.links-enter-active, .links-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms;
}

.links-exit {
  opacity: 1;
  transform: scale(1);
}

.links-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: all 1000ms;
}

.texts-enter, .texts-appear {
  opacity: 0;
}

.texts-enter-active, .texts-appear-active {
  opacity: 1;
  transition: all 4000ms ease-out;
}

.texts-exit {
  opacity: 1;
}

.texts-exit-active {
  opacity: 0;
  transition: all 4000ms ease-in;
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .image-links {
    width: 9rem;
    height: 9rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
  .image-links {
    width: 5rem;
    height: 5rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .image-links {
    width: 8rem;
    height: 8rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .image-links {
    width: 10rem;
    height: 10rem;
  }
  .jumbotron h1 {
    font-size: 4rem;
  }
  .jumbotron p {
    font-size: 1.2rem;
  }
}