/* GENERAL STYLING */

.App {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'IM Fell Great Primer SC', serif;
}

.image-links {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
  border: solid black 2px;
  border-radius: 50%;
}

/* ------------ HOME PAGE ------------- */

/* ------------- SAVED RECIPES PAGE ------------- */

.saved-recipes {
  min-height: 80vh;
}

/* ------------- RECIPES PAGE --------------- */

/* HEADER */

.jumbotron img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.jumbotron h1 {
  padding: 0rem 4rem;
  font-size: 2rem;
}

.jumbotron {
  padding: 0;
  margin: 0;
}

/* FOOTER */

.site-footer {
  background-color: #007bff;
  padding: 20px 0;
}

.site-footer a, .site-footer h5, .site-footer p {
  color: #fff;
}

/* RECIPE CARDS */

.card-images {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
}

.card {
  padding: 0;
  background-color: #2e2e2e;
}

/* RECIPE MODALS */

.modal {
  width: 95vw;
  max-width: 1000px;
  margin: 0;
}

.modal .image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.modal li {
  text-align: left;
  list-style-type: none;
}

.modal br {
  margin-bottom: 0.5rem;
}

.instructions-list {
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
}

.instructions-list::first-line {
  font-weight: bold;
}

.modal .close {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.modal h1 {
  color: #fff;
}

.modal .modal-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal .youtube-container {
  display: flex;
  align-items: center;
}

.modal .youtube {
  margin: -100px 0px 0px 0rem;
  width: 100%;
  text-align: left;
  padding: 1rem 0rem 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.modal .heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
  color: rgba(231, 76, 60, 0.5);
}

.modal .heart2 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  transform: scale(1.2);
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
  color: rgba(231, 76, 60, 1);
}

.modal .gradient-mask {
  background: -webkit-linear-gradient(90deg, rgba(26, 188, 156, 0.5) 0%, rgba(52, 152, 219, 0.6) 100%);
  background: -o-linear-gradient(90deg, rgba(26, 188, 156, 0.5) 0%, rgba(52, 152, 219, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(90deg, rgba(26, 188, 156, 0.5)), to(rgba(52, 152, 219, 0.6)));
  background: linear-gradient(90deg, rgba(26, 188, 156, 0.5) 0%, rgba(52, 152, 219, 0.6) 100%);
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
  .jumbotron p {
    font-size: 1.2rem;
  }
}